- provide(:title, 'Admin')
%body.admin
	.container
		.row
			.col-xs-12
				%h1 Административная часть
		.row
			.col-xs-12
				%p= link_to 'Товары', products_path, class: 'btn btn-primary'
				%p= link_to 'Акции', events_path, class: 'btn btn-primary'