- provide(:title, 'Изменение акции')
%body.event_edit
    .container
        = render 'form_edit'
        %br
        = link_to 'Посмотреть акцию', event_path(@event), class: 'btn btn-primary'
        = link_to 'Назад', events_path, class: 'btn btn-primary'