.row.advantages
	%h2 Почему стоит покупать у нас
	.col-xs-3
		= image_tag 'advantage_1.png', class: 'img img-responsive'
		%p Всегда свежие цветы
	.col-xs-3
		= image_tag 'advantage_2.png', class: 'img img-responsive'
		%p Красивое оформление
	.col-xs-3
		= image_tag 'advantage_1.png', class: 'img img-responsive'
		%p Всегда свежие цветы
	.col-xs-3
		= image_tag 'advantage_2.png', class: 'img img-responsive'
		%p Красивое оформление
.row
	.col-xs-12
		%h2 Интернет-магазин цветов
		%p.simple_block Покупку букета или композиции мы сделаем для Вас наиболее простой и удобной: Вы можете заказать в каталоге онлайн или позвонив по телефону оператора. Букет будет выполнен нашими флористами точь-в-точь таким же, каким он представлен на фотографии, либо он будет собран индивидуально, в соответствии в Вашими личными пожеланиями. Высокое качество букетов на заказ могут подтвердить тысячи наших клиентов.